/*------- PAGE ----- */
@page {
  size: A4 portrait;
  margin: 0.8cm 0.6cm;
  counter-increment: page;
  @top {
        content: element(pageHeader);
    }
    @bottom-right {
        content: counter(page) '/' counter(pages);
        white-space: pre;
        border: 1px solid grey;
        padding: 0.1rem 0.5rem;
        margin-bottom: 0.2cm;
        font-size: 1.3rem;
        font-weight: bold;
    }
}

.header {
    height: auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    width: 100%;
}
.text-bold {
    font-weight: bold;
}

.image img {
  width: 100%;
}
.left,
.right {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-top: 1rem !important;
}

i img {
  width: 2rem;
  height: 2rem;
}

.evaluation-icons span{
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}
.evaluation-icons span i {
  color: black !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}

.eval i {
  color: black !important;
  font-size: 2rem !important;
}

.evaluation-icons,
.organization,
.formation,
.teacher,
.appreciation,
.other_formation,
.other_formation_type,
.participant,
.form-btn,
.find {
  margin: 3.5rem 0 !important;
}

.form-card,
.option,
.text,
.org {
  padding: 0.5rem !important;
}

.title-header {
  font-size: 1.6rem !important;
}

.comment {
  font-size: 1rem;
}
.pdf-option {
    flex-flow: nowrap;
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0 !important;
}
.stage-choice {
    width: 100%
    display: flex;
    justify-content: space-between;
}
.stage-choice .choice {
    padding: 0rem 0.5rem !important;
    margin-right: 1rem !important;
    border: 0.2rem solid;
    border-color: var(--logo);
}

.choice.ok {
  background-color: var(--logo) !important;
}

.eval ul,
.eval.choice{
  display: flex;
  justify-content: space-between !important;
}
.eval .choice {
  padding: 0.4rem !important;
  margin-right: 1rem !important;
  border: 0.2rem solid;
  border-radius: 50%;
  border-color: var(--logo);
}
.recom {
  display: flex;
  flex-direction: column !important;
  border: 0.1rem solid;
  border-radius: 0.3rem;
  padding: 0.5rem !important;
}

.recom span {
  margin: 0.2rem !important;
}
.org.multiple span{
  display: flex;
  white-space: wrap !important;
}
.logo {
  font-weight: 600;
  border-bottom: 0.1rem solid;
  border-color:  var(--logo)!important;
}
.right, .logo {
  color: var(--logo);
}
.right-1 {
  font-size: 1.3rem !important;
}

.stage-title {
  font-size: 1.6rem !important;
}

.title {
  color: var(--black) !important;
}
.org.multiple {
  display: inline-block !important;
  justify-content: flex-start !important;
}
.org.multiple span{
  white-space: normal;
}
/* ---- AUTO-ÉVALUATION DES ACQUIS ---- */
.auto {
  margin: 2rem 0 4rem 0 !important;
}
.auto .org {
  width: 100% !important;
}
.auto .label {
  width: 100% !important;
}
.auto .label.title {
  font-weight: 700;
  font-size: 1.6rem;
}
.auto .auto-eval {
  width: 60rem !important;
  display: flex !important;
  align-items: center !important;
}
.eval-choice .choice {
  padding: 0.4rem !important;
  border: 0.2rem solid;
  border-radius: 50%;
  border-color: var(--logo);
}
.auto .eval-choice{
  width: 20rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.page-content {
  min-height: 130rem;
}