{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Resultat eval en pdf
{% endblock title %}
{% block content %}
<div class="header">
  <div class="left">
    <span class="text-bold">SICOGE</span>
    <span>5 RUE DE PROVENCE</span>
    <span>75009 PARIS</span>
  </div>
  <div class="image">
    <img src="{% static '.icons/logo.png' %}">
    <span class="logo">www.sicoge.com</span>
  </div>
  <div class="right">
    <span class="right-1">Téléphone : 01 56 23 06 03</span>
    <span class="right-1">info@sicoge.com</span>
    <small>RCS PARIS B 662012673</small>
    <small>N° SIRET : 66201267300031</small>
    <small>Code NAF : 7022Z</small>
    <small>TVA n° : FR 85662012673</small>
  </div>
</div>
<div class="main-content">
  <div class="page-content">
    <div class="pdf-option">
      <span class="stage-title">Evaluation de satisfaction</span>
      {% if eval.stage == 'Présentiel' %}
      <div class="stage-choice">
        <span>{{eval.stage}}</span>
        <span class="choice ok"></span>
        <span> / </span>
        <span>Visio</span>
        <span class="choice"></span>
      </div>
      {% elif eval.stage == 'Visio' %}
      <div class="stage-choice">
        <span>Présentiel</span>
        <span class="choice"></span>
        <span> / </span>
        <span>{{eval.stage}}</span>
        <span class="choice ok"></span>
      </div>
      {% else %}
      <div class="stage-choice">
        <span>Présentiel</span>
        <span class="choice"></span>
        <span> / </span>
        <span>Visio</span>
        <span class="choice"></span>
      </div>
      {% endif %}
    </div>
    <div class="form-card">
      <div class="text">
        <span class="text-title">Intitulé de la formation: </span>
        {% if eval.stage_name %}
        <span>{{ eval.stage_name }}</span>
        {% endif %}
      </div>
      <div class="dates">
        <div class="row text date">
          <span class="text-title">Date début formation: </span>
          {% if eval.start_date %}
          <span>{% language 'fr' %} {{ eval.start_date | date:'d F Y'}}{% endlanguage %}</span>
          {% endif %}
        </div>
        <div class="row text date">
          <span class="text-title">Date fin formation: </span>
          {% if eval.end_date %}
          <span>{% language 'fr' %} {{ eval.end_date | date:'d F Y'}} {% endlanguage %}</span>
          {% endif %}
        </div>
      </div>
      <div class="text">
        <span class="text-title">Lieu de formation: </span>
        {% if eval.place %}
        <span>{{ eval.place }}</span>
        {% endif %}
      </div>
      <div class="text">
        <span class="text-title">Formateur(s): </span>
        {% if eval.teacher %}
        <span>{{ eval.teacher }}</span>
        {% endif %}
      </div>
    </div>
    <div class="evaluation-icons">
      <span>Merci de cocher la case correspondante</span>
      <span><i><img src="{% static './icons/frown-regular.svg' %}" alt="frown-regular"></i> <i>Pas du tout</i></span>
      <span><i><img src="{% static './icons/meh-regular.svg' %}" alt="meh-regular"> </i> <i>Oui plutôt</i></span>
      <span><i><img src="{% static './icons/smile-regular.svg' %}" alt="smile-regular"></i> <i>Tout à fait</i></span>
    </div>
    <div class="organization">
      <div class="org">
        <div class="title title-header">
          <span>1 – ORGANISATION </span>
        </div>
        <div class="eval">
          <ul>
            <li><i><img src="{% static './icons/frown-regular.svg' %}" alt="frown-regular"></i><i>1</i></li>
            <li><i><img src="{% static './icons/meh-regular.svg' %}" alt="meh-regular"></i><i>2</i></li>
            <li><i><img src="{% static './icons/smile-regular.svg' %}" alt="smile-regular"></i><i>3</i></li>
          </ul>
        </div>
        <div class="comment comment-header">
          <span>Commentaires</span>
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Mon accès aux informations avant la formation (programme, objectifs, ...)</span>
        </div>
        {% if eval.organization1 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.organization1 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.organization1 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.org_comment1 %}
          <span>{{eval.org_comment1}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>L’accueil</span>
        </div>
        {% if eval.organization2 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.organization2 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.organization2 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.org_comment2 %}
          <span>{{eval.org_comment2}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>La logistique (salle, repas, horaires ...)</span>
        </div>
        {% if eval.organization3 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.organization3 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.organization3 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.org_comment3 %}
          <span>{{eval.org_comment3}}</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="formation">
      <div class="org">
        <div class="title title-header">
          <span>2 – LA FORMATION</span>
        </div>
        <div class="eval">
          <ul>
            <li><i><img src="{% static './icons/frown-regular.svg' %}" alt="frown-regular"></i><i>1</i></li>
            <li><i><img src="{% static './icons/meh-regular.svg' %}" alt="meh-regular"></i><i>2</i></li>
            <li><i><img src="{% static './icons/smile-regular.svg' %}" alt="smile-regular"></i><i>3</i></li>
          </ul>
        </div>
        <div class="comment comment-header">
          <span>Commentaires</span>
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>La formation répond à mes préoccupations</span>
        </div>
        {% if eval.formation1 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation1 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation1 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.for_comment1 %}
          <span>{{eval.for_comment1}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Je me sens mieux préparé(e) pour l’exercice de mon mandat</span>
        </div>
        {% if eval.formation2 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation2 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation2 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.for_comment2 %}
          <span>{{eval.for_comment2}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Le contenu de la formation est pertinent et adapté</span>
        </div>
        {% if eval.formation3 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation3 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation3 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.for_comment3 %}
          <span>{{eval.for_comment3}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>La durée est adaptée</span>
        </div>
        {% if eval.formation4 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation4 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation4 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.for_comment4 %}
          <span>{{eval.for_comment4}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Il y avait une bonne ambiance au sein du groupe</span>
        </div>
        {% if eval.formation5 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation5 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation5 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.for_comment5 %}
          <span>{{eval.for_comment5}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Les supports pédagogiques utilisés sont de qualité</span>
        </div>
        {% if eval.formation6 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation6 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.formation6 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.for_comment6 %}
          <span>{{eval.for_comment6}}</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="teacher">
      <div class="org">
        <div class="title title-header">
          <span>3 – FORMATEUR(S)</span>
        </div>
        <div class="eval">
          <ul>
            <li><i><img src="{% static './icons/frown-regular.svg' %}" alt="frown-regular"></i><i>1</i></li>
            <li><i><img src="{% static './icons/meh-regular.svg' %}" alt="meh-regular"></i><i>2</i></li>
            <li><i><img src="{% static './icons/smile-regular.svg' %}" alt="smile-regular"></i><i>3</i></li>
          </ul>
        </div>
        <div class="comment comment-header">
          <span>Commentaires</span>
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Connaissance du sujet</span>
        </div>
        {% if eval.teacher1 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.teacher1 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.teacher1 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.tea_comment1 %}
          <span>{{eval.tea_comment1}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Adaptation aux participants</span>
        </div>
        {% if eval.teacher2 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.teacher2 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.teacher2 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.tea_comment2 %}
          <span>{{eval.tea_comment2}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Approche pédagogique</span>
        </div>
        {% if eval.teacher3 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.teacher3 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.teacher3 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.tea_comment3 %}
          <span>{{eval.tea_comment3}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Echanges avec le groupe</span>
        </div>
        {% if eval.teacher4 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.teacher4 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.teacher4 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.tea_comment4 %}
          <span>{{eval.tea_comment4}}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="appreciation">
      <div class="org">
        <div class="title title-header">
          <span>4 – APPRÉCIATION GÉNÉRALE</span>
        </div>
        <div class="eval">
          <ul>
            <li><i><img src="{% static './icons/frown-regular.svg' %}" alt="frown-regular"></i><i>1</i></li>
            <li><i><img src="{% static './icons/meh-regular.svg' %}" alt="meh-regular"></i><i>2</i></li>
            <li><i><img src="{% static './icons/smile-regular.svg' %}" alt="smile-regular"></i><i>3</i></li>
          </ul>
        </div>
        <div class="comment comment-header">
          <span>Commentaires</span>
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Utilité de la formation</span>
        </div>
        {% if eval.appreciation1 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.appreciation1 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.appreciation1 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.ap_comment1 %}
          <span>{{eval.ap_comment1}}</span>
          {% endif %}
        </div>
      </div>
      <div class="org">
        <div class="title">
          <span>Satisfaction globale</span>
        </div>
        {% if eval.appreciation1 == '1' %}
        <div class="eval choice">
          <span class="choice ok"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.appreciation1 == '2' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice ok"></span>
          <span class="choice"></span>
        </div>
        {% elif eval.appreciation1 == '3' %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice ok"></span>
        </div>
        {% else %}
        <div class="eval choice">
          <span class="choice"></span>
          <span class="choice"></span>
          <span class="choice"></span>
        </div>
        {% endif %}
        <div class="comment">
          {% if eval.ap_comment2 %}
          <span>{{eval.ap_comment2}}</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="auto">
      <div class="title title-header">
        <span>AUTO-ÉVALUATION DES ACQUIS</span>
      </div>
      <div class="org">
        <div class="label title">
          <span>Objectifs</span>
        </div>
        <div class="auto-eval">
          <div class="eval-choice">Acquis</div>
          <div class="eval-choice">En cours d’acquisition</div>
          <div class="eval-choice">Non acquis</div>
        </div>
      </div>
      <div class="org">
        <div class="label">
          <span>Comprendre le fonctionnement du CSE</span>
        </div>
        {% if eval.acquis1 == '1' %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice ok"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
        </div>
        {% elif eval.acquis1 == '2' %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice ok"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
        </div>
        {% elif eval.acquis1 == '3' %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice ok"></span></div>
        </div>
        {% else %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
        </div>
        {% endif %}
      </div>
      <div class="org">
        <div class="label">
          <span>Connaître les attributions, les missions d’élu de CSE</span>
        </div>
        {% if eval.acquis2 == '1' %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice ok"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
        </div>
        {% elif eval.acquis2 == '2' %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice ok"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
        </div>
        {% elif eval.acquis2 == '3' %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice ok"></span></div>
        </div>
        {% else %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
        </div>
        {% endif %}
      </div>
      <div class="org">
        <div class="label">
          <span>Exercer pleinement et efficacement sa mission</span>
        </div>
        {% if eval.acquis3 == '1' %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice ok"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
        </div>
        {% elif eval.acquis3 == '2' %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice ok"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
        </div>
        {% elif eval.acquis3 == '3' %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice ok"></span></div>
        </div>
        {% else %}
        <div class="auto-eval">
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
          <div class="eval-choice"><span class="choice"></span></div>
        </div>
        {% endif %}
      </div>
      <div class="recom">
        <span>Si en cours d’acquisition ou non acquis, merci de préciser </span>
        {% if eval.acquis_comment %}
        <span>{{eval.acquis_comment}}</span>
        {% endif %}
      </div>
    </div>


    <div class="recommendation">
      <div class="option choice org">
        <span class="stage-title">Recommanderiez-vous cette formation ? </span>
      </div>
      <div class="recom">
        <span>Pensez-vous pouvoir le recommander à d'autres personnes de votre entourage ? Lesquelles ? </span>
        {% if eval.recommendation2 %}
        <span>{{eval.recommendation2}}</span>
        {% endif %}
      </div>
    </div>
    <div class="other_formation">
      <div class="option choice org">
        <span class="stage-title">D’autres besoins de formation existent-ils ? </span>
      </div>
      <div class="org choice multiple">
        {% if eval.other_formation2 %}
        <span>{{eval.other_formation2}}</span>
        {% endif %}
        {% if eval.other_formation_comment %}
        <span>: {{eval.other_formation_comment}}</span>
        {% endif %}
      </div>
    </div>
    <div class="other_formation_type">
      <div class="option choice org">
        <span class="stage-title">Avez-vous des besoins en :  </span>
      </div>
      <div class="org choice multiple">
        {% if eval.other_formation_type2 %}
        <span>{{eval.other_formation_type2}}</span>
        {% endif %}
        {% if eval.other_formation_type_comment %}
        <span>: {{eval.other_formation_type_comment}}</span>
        {% endif %}
      </div>
    </div>
    <div class="participant">
      <div class="part-title">
        <span class="stage-title">PARTICIPANT</span>
        <span>(Informations non transmises à l’employeur ou à des tiers)</span>
      </div>
      <div class="form-card">
        <div class="text">
          <span class="text-title">Nom prénom: </span>
          {% if eval.name %}
          <span>{{eval.name}}</span>
          {% endif %}
        </div>
        <div class="text">
          <span class="text-title">Fonction au sein du CSE, Mandat: </span>
          {% if eval.function %}
          <span>{{eval.function}}</span>
          {% endif %}
        </div>
        <div class="text">
          <span class="text-title">N° de téléphone: </span>
          {% if eval.phone %}
          <span>{{eval.phone}}</span>
          {% endif %}
        </div>
        <div class="text">
          <span class="text-title">Adresse e-mail: </span>
          {% if eval.email %}
          <span>{{eval.email}}</span>
          {% endif %}
        </div>
        <div class="text">
          <span class="text-title">Nom de l’entreprise: </span>
          {% if eval.company %}
          <span>{{eval.company}}</span>
          {% endif %}
        </div>
        <div class="text">
          <span class="text-title">Secteur d’activité de l’Entreprise: </span>
          {% if eval.company_activity %}
          <span>{{eval.company_activity}}</span>
          {% endif %}
        </div>
        <div class="text">
          <span class="text-title">Effectif total de l’entreprise: </span>
          {% if eval.total_company %}
          <span>{{eval.total_company}}</span>
          {% endif %}
        </div>
        <div class="text">
          <span class="text-title">Effectif de l’établissement: </span>
          {% if eval.total_establishment %}
          <span>{{eval.total_establishment}}</span>
          {% endif %}
        </div>
        <div class="row text date">
          <span class="text-title">Date des prochaines élections: </span>
          {% if eval.election_date %}
          <span>{% language 'fr' %}{{ eval.election_date | date:'d F Y'}}{% endlanguage %}</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="find">
      <div class="choice org">
        <span class="stage-title">Comment avez-vous connu ce stage: </span>
      </div>
      <div class="org choice multiple">
        {% if eval.find %}
        <span>{{eval.find}}</span>
        {% endif %}
        {% if eval.find_comment %}
        <span>: {{eval.find_comment}}</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}