
/*---VARIABLES --- */
:root {
    /*--- general ---*/
    font-size: 62.5%;
    /* ------ Colors -------*/
    --logo: #ec6e07;
    --name: #bd03ab;
    --blue: #c8dbe3;
    --primary: #26a69a;
    --secondary: #447189;
    --text-grey: #8390a2;
    --accent: #2c3e50;
    --text: #333;
    --light: #ebf1ed;
    --white: #f0f0f0;
    --cancelBtn: #757575;
    --deleteBtn: hsl(358deg 79% 68%);
    /*-------user page --------*/
    --buildingCount: #49aec1;
    --localCount: #76b8c6;
    --buildingRent: #7cd1c0;

    /*---- font -------*/
    --font-text: 'Mulish', sans-serif;
    --font-header: "Cormorant Garamond", serif;
    --font-nav: 'Exo 2', sans-serif;
    --font-body: 'Poppins', sans-serif;

    /*------ box-shadow -----*/
    --main-box: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
    --body-box: 0 2px 5px 1px rgb(64 60 67 / 16%);
    --card-box: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cards-box: 1px 1px 2px rgb(91 101 130 / 10%);
    --header-box: 2px 2px 10px rgb(0 0 0 / 16%);
    --btn-box: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

/*--- RESET ---*/
* {
    font-family: var(--font-body) ;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* --- styling scrollbars --- */

::-webkit-scrollbar {
    width: 0.87rem;
    height: 0.87rem;
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 5px var(--text-grey);
}
::-webkit-scrollbar-thumb {
    background: var(--logo);
    border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-grey);
}

/*--- General ---*/
body {
    font-size: 1.6rem;
    color: var(--text);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--black) ;
}
li {
    list-style: none;
}
pre {
    white-space: pre-line;
}
pre code {
    white-space: pre-line;
}
ul, ol {
    padding: 0;
    margin: 0;
}

/*--- UTILS ---*/
.btn {
    font-size: 1.8rem;
    border: 0;
    outline: 0;
}

button {
    border: none;
    outline: none;
}

/* ----- QUIZ ----- */

.container.quiz-container {
    margin-top: 4rem;
    width: 80% ;
}
/* --- FORM CARDS --- */
.form-card {
    padding: 1rem;
    margin: 1rem 0;
    border: 0.1rem solid;
    border-radius: 0.3rem;
}
/* --- Stage title And Option --- */
.option {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.option ul,
.option div {
    display: flex;
}
.option ul li:nth-child(2),
.option div:nth-child(2) {
    margin: 0 1rem;
}
.stage-title {
    font-weight: 700;
}

/* --- Dates And Text Input --- */
.text, .dates {
    display: flex;
    align-items: center;
    margin: 0 !important;
    width: 100%;
}
.dates .text,
.dates .text input {
    width: 100%;
}
.text{
    padding: 1rem !important;
}
.text input, .text .s12 {
    margin: 0 !important;
    padding: 0 !important;
}
.text-title {
    padding-right: 2rem;
    font-weight: 500;
    white-space: nowrap;
}

/*----- Form Modal ----*/
form .modal {
    height: auto !important;
}

/*--- Form display ---*/
.evalQuiz {
    background: var(--light);
    color: var(--logo);
    border: 0.1rem solid var(--logo);
    border-radius: 0.3rem;
    box-shadow: var(--card-box);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

}
.evalQuiz h3 {
    margin-left: 1rem;
    font-size: 2.3rem;
    font-weight: 700;
}
.image {
    color: var(--logo);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image img{
    width: 15rem;
}

.active {
    height: 0;
    overflow: hidden;
    margin: 0;
    opacity: 0;
    transition: height 1s,  opacity 0.8s;
    margin: 0;
    padding: 0;
}
.active.visible {
    height: auto;
    opacity: 1;
    margin-bottom: 4rem!important;
    transition: height 1s opacity 0.5s;
}
/*--- Button display ----*/
.formBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.back,
.next {
    margin: 4rem 0.5rem;
    cursor: pointer;
}
.back.noVisible {
    display: none;
}
/*---- Organization ----*/
.evaluation-icons{
    display: flex;
    margin-bottom: 4rem;
}
.evaluation-icons span {
    margin-right: 2rem;
    font-weight: 700;
}
.org {
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    padding: 1rem;
    align-items: center;
    border: 0.1rem solid;
    border-radius: 0.3rem;
}
.title-header {
    font-weight: 700;
    color: var(--name);
    font-size: 1.3rem;
}

.eval   ul,
.eval   div:first-child {
    display: flex;
    justify-content: space-between;
}
.title {
    margin-top: 1rem;
    width: 50%;
    padding-right: 1rem;
}

.eval {
    width: 15%;
}
.eval-items div,
.eval-items div:first-child,
.eval li{
    display: flex;
    flex-direction: column;
}
.eval i,
.evaluation-icons span i {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--logo);
}
span i.far,
i.far{
    font-size: 2.5rem;
}
.comment-header{
    font-weight: 700;
    font-size: 1.7rem;
}
.comment{
    display: flex;
    align-items: center;
    margin: 0 1rem 0 2rem;
    width: 35%;
}
.comment .item {
    display: none;
}
.rec {
    align-items: flex-end !important;
}

.choice {
    white-space: nowrap;
}
/*----- Results-----*/
.navbar {
    background: var(--logo);
    height: 8rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
.logout-btn  {
    padding: 0.5rem 1rem;
    background: var(--white);
    color: var(--logo);
    border: 0.1rem solid var(--logo);
    border-radius: 0.5rem;
    transition: all 0.6s
}
.logout-btn:hover {
    color: var(--logo);
    border: 0.1rem solid var(--white);
    box-shadow: var(--card-box);
    transition: all 0.6s
}
.navbar img {
    height: 8rem;
    margin: 0;
    padding: 0;
}
thead {
    background: var(--light);
    color: var(--logo);
    box-shadow: var(--card-box);
}
thead tr {
    border-top: 1px solid var(--logo);
    border-bottom: 1px solid var(--logo);
}
.export,
.delete-eval {
    transition: all 0.6s;
    line-height: 2.5rem !important;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
}
.export{
    background: var(--light);
    border: 0.1rem solid var(--logo);
    color: var(--logo);
    white-space: nowrap;
}
.delete-eval {
    background: var(--white);
    border: 0.1rem solid var(--deleteBtn);
    color: var(--deleteBtn);
}
.export:hover,
.delete-eval:hover {
    box-shadow: var(--card-box);
    color: var(--white);
    transition: all 0.6s;
}
.export:hover {
    background: var(--logo);
}
.delete-eval:hover {
    background: var(--deleteBtn);
}

label span{
    color: var(--accent);
    font-size: 1.6rem !important;

}
.result-date {
    white-space: nowrap;
}
.modal-content {
    font-size: 2rem;
    outline: none;
    border: none;
    margin-bottom: 2rem ;
    background: var(--logo);
    color: var(--white);
    padding: 0 2rem;
}
.modal.show {
    margin-top: 6rem;
    height: auto;
    padding: 4rem 2rem;
}
.modal .header {
    border-bottom: 0.1rem solid var(--text-grey);
    padding-bottom: 1.5rem;
}
.modal .header h2 {
    color: var(--logo);
}
.modal .content{
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid var(--text-grey);
}
.modal .content span {
    font-size: 1.4rem;
    color: var(--accent);
}
.formBtn a,
.formBtn .delete {
    font-size: 1.4rem;
    border-radius: 0.3rem;
    background: var(--white);
}
.formBtn a{
    margin-right: 2rem;
    border: 0.1rem solid var(--cancelBtn);
    padding: 0.7rem 1rem;
    color: var(--cancelBtn);
}
.formBtn .delete{
    border: 0.1rem solid var(--deleteBtn);
    padding: 1rem;
    color: var(--deleteBtn);
}
.formBtn a:hover,
.delete:hover {
    color: var(--white);
    box-shadow: var(--card-box);
    transition: all 0.4s;
}
.formBtn a:hover {
    background: var(--cancelBtn);
}
.formBtn .delete:hover {
    background: var(--deleteBtn);
}
/*--- PAGINATOR ---*/
.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
}
.step-link {
    padding: 0.5rem 0.5rem;
    margin: 0 !important;
}
.page-btn{
    padding: 0.5rem 0.5rem;
    background: var(--text-grey);
    color: var(--white);
    box-shadow: var(--card-box);
    transition: all 0.4s;
}
.page-btn.current{
    background: white;
    color: var(--accent);
    cursor: help;
}
.page-btn-left {

    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}
.page-btn-right {
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.page-btn:hover {
    background: var(--logo);
    color: white;
    transition: all 0.4s;
}